Django==1.6.5
Django-Select2==4.0.0
Jinja2==2.7.3
MarkupSafe==0.23
Pygments==1.6
South==0.8.4
Sphinx==1.2.2
bpython==0.13
coverage==3.7.1
django-braces==1.4.0
django-debug-toolbar==1.2.1
django-model-utils==2.0.3
django-mptt==0.6.0
django-reversion==1.8.1
django-social-auth==0.7.28
django-suit==0.2.9
django-suit-ckeditor==0.0.2
django-suit-redactor==0.0.2
docutils==0.11
httplib2==0.9
logutils==0.3.3
oauth2==1.5.211
psycopg2==2.5.3
python-openid==2.2.5
selenium==2.42.1
six==1.7.3
sqlparse==0.1.11
wsgiref==0.1.2
